* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #333;
  color: #fff;
}

h1 {
  font-size: 15px;
}

img {
  transition: all 0.2s ease-in-out;
}

img.preview {
  border: 1px dashed #999;
}

img.preview:hover {
  transform: scale(1.5);
  z-index: 9999;
  position: absolute;
}

img.view {
  width: auto;
  height: 85vh;
}

div#loader-wrap {
  text-align: center;
  padding: 100px;
}

div.ReactVirtualized__Masonry,
div.ReactVirtualized__Masonry__innerScrollContainer {
  margin: 0 auto;
}

div.image-detail {
  text-align: center;
}

div.image-detail a {
  background: #000;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  width: 200px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

input[type='button'] {
  background: #000;
  color: #fff;
  font-size: 20px;
  width: 200px;
  height: 50px;
  border: none;
  transition: all 0.2s ease-in-out;
}

div.image-detail a:hover,
input[type='button']:hover {
  background: #eee;
  color: #000;
}
span.failed-loader,
span.loader {
  display: block;
  font-size: 25px;
}

span.loader {
  color: #fff;
}

span.failed-loader {
  color: red;
  padding: 20px;
}
