body {
  background: #444;
}

img {
  transition: all 0.2s ease-in-out;
}

img.preview:hover {
  transform: scale(1.5);
  z-index: 9999;
  position: absolute;
}

img.view {
  width: 90vw;
  height: auto;
}
